In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\SATYA
[nltk_data]     SHREYUDH\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [3]:

stop_words=stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [4]:
#Load the Dataset

In [5]:

df=pd.read_csv('spam11.csv')

In [6]:

stop_words=stopwords.words('english')

In [7]:


df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [8]:
#Replacing null values

In [9]:

data=df.where((pd.notnull(df)),'')

In [10]:

data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [11]:

data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [12]:

data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [13]:

data.describe()

          v1                      v2 Unnamed: 2 Unnamed: 3 Unnamed: 4
count   5572                    5572       5572       5572       5572
unique     2                    5169         44         11          6
top      ham  Sorry, I'll call later
freq    4825                      30       5522       5560       5566

In [14]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

In [15]:
#Labelling SPAM as 0 and HAM as 1

In [16]:

data.loc[data['v1']=='spam','v1',]=0
data.loc[data['v1']=='ham','v1',]=1

In [17]:
#SEPARATING THE DATA AS TEXT(INPUT) AND LABELS(OUTPUT)

In [18]:

x=data['v2']
y=data['v1']

In [19]:
#Splitting the data into training and testing data

In [20]:

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [21]:


print(x_train)

3075    Mum, hope you are having a great day. Hoping t...
2371    Hmm, too many of them unfortunately... Pics ob...
4278    URGENT. Important information for 02 user. Tod...
644     Allo! We have braved the buses and taken on th...
1481                     I'm a guy, browsin is compulsory
                              ...
4068    Hope youåÕre not having too much fun without m...
4819    Check Out Choose Your Babe Videos @ sms.shsex....
2517                               Sorry, I'll call later
3392                                          Ok thanx...
4092    \Life is nothing wen v get everything\". But \...
Name: v2, Length: 4457, dtype: object

In [22]:

print(y_train)

3075    1
2371    1
4278    0
644     1
1481    1
       ..
4068    1
4819    0
2517    1
3392    1
4092    1
Name: v1, Length: 4457, dtype: object

In [23]:

print(x_test)

673     Ditto. And you won't have to worry about me sa...
4221    Yo you around? A friend of mine's lookin to pi...
274                       No objection. My bf not coming.
3794        Also remember the beads don't come off. Ever.
1644                            India have to take lead:)
                              ...
5561    Get me out of this dump heap. My mom decided t...
2774       Dude u knw also telugu..thts gud..k, gud nyt..
3852    Dont worry, 1 day very big lambu ji vl come..t...
5219    Pls she needs to dat slowly or she will vomit ...
502                               Check with nuerologist.
Name: v2, Length: 1115, dtype: object

In [26]:

print(y_test)

673     1
4221    1
274     1
3794    1
1644    1
       ..
5561    1
2774    1
3852    1
5219    1
502     1
Name: v1, Length: 1115, dtype: object

In [25]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4457,)
(4457,)
(1115,)
(1115,)

In [27]:
#Feature Extraction

In [28]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [29]:


x_train_features=feature_extraction.fit_transform(x_train)

In [30]:


print(x_train_features)

  (0, 751)	0.3164126673589556
  (0, 3960)	0.2412566490806704
  (0, 4277)	0.3881388415887152
  (0, 6557)	0.19754503439354926
  (0, 3376)	0.3391781107527002
  (0, 2118)	0.38404333041652083
  (0, 3131)	0.43898546096257063
  (0, 3254)	0.25810553600101716
  (0, 3371)	0.21751169421866026
  (0, 4481)	0.28780782133540045
  (1, 6619)	0.28569368038911636
  (1, 2939)	0.26221963676084553
  (1, 3807)	0.3125204877069066
  (1, 1544)	0.37168265665582956
  (1, 3386)	0.28035215753704246
  (1, 1022)	0.3543788315076048
  (1, 4697)	0.33257859001180257
  (1, 4998)	0.28569368038911636
  (1, 6897)	0.3543788315076048
  (1, 3333)	0.3029975055373411
  (2, 1137)	0.29215210718347895
  (2, 6407)	0.26888434675632
  (2, 2688)	0.2811088434436228
  (2, 1841)	0.2071027863397866
  (2, 6937)	0.29215210718347895
  :	:
  (4453, 2737)	0.3819595340176402
  (4453, 2738)	0.3819595340176402
  (4453, 4580)	0.3819595340176402
  (4453, 5924)	0.3819595340176402
  (4453, 7014)	0.3819595340176402
  (4453, 1743)	0.2966187807313902
  (4453, 1696)	0.26319400714516894
  (4453, 6047)	0.24444782082678254
  (4453, 1160)	0.23135697153633636
  (4454, 3890)	0.6083689568954931
  (4454, 6101)	0.5967138106007261
  (4454, 4015)	0.5232779763416862
  (4455, 6577)	0.8352111991251171
  (4455, 4725)	0.5499293162361721
  (4456, 756)	0.32569699999563384
  (4456, 5397)	0.310534054299073
  (4456, 6980)	0.29977577311721415
  (4456, 7182)	0.4870573096913457
  (4456, 7220)	0.25034682935612096
  (4456, 4452)	0.25869160054223367
  (4456, 3160)	0.21274390584941608
  (4456, 4940)	0.21010306126013822
  (4456, 5390)	0.21866091806819812
  (4456, 4353)	0.19913290174678674
  (4456, 3960)	0.40488896454138484

In [31]:


x_test_features=feature_extraction.transform(x_test)

In [32]:

print(x_test_features)

  (0, 7301)	0.34172284410314296
  (0, 7275)	0.26767604069806017
  (0, 7104)	0.23418494251756705
  (0, 5717)	0.35423124279167856
  (0, 5674)	0.2766407208623205
  (0, 4928)	0.4608488686623499
  (0, 4604)	0.26001238063205645
  (0, 4015)	0.21612065294104882
  (0, 3969)	0.21932857569538367
  (0, 970)	0.4241713184195784
  (1, 7401)	0.41265450018399935
  (1, 6719)	0.3789068157690534
  (1, 4994)	0.3680067531383893
  (1, 4052)	0.5449370992828843
  (1, 3890)	0.3228017914287293
  (1, 2910)	0.38672920676068684
  (2, 1852)	0.5879773001104482
  (2, 1301)	0.8088774286347888
  (3, 5476)	0.7051691643091472
  (3, 2344)	0.5294865375378264
  (3, 1846)	0.47157232348150246
  (4, 3912)	0.7392168557246319
  (4, 3534)	0.6734674752447877
  (5, 4599)	0.4480923274561411
  (5, 4452)	0.558272455315595
  :	:
  (1110, 4403)	0.5212819580796705
  (1110, 2140)	0.5212819580796705
  (1110, 1846)	0.32177815935695864
  (1110, 1393)	0.5941288214874758
  (1111, 6637)	0.3858515772009366
  (1111, 6532)	0.4312193977483534
  (1111, 4687)	0.35153214581667336
  (1111, 3829)	0.34681310306824303
  (1111, 3160)	0.5633413814450082
  (1111, 2413)	0.3224293741680932
  (1112, 7301)	0.3626437269924095
  (1112, 7044)	0.41871515612405397
  (1112, 6653)	0.35976340122268685
  (1112, 4892)	0.3884483243795226
  (1112, 2518)	0.33889860594172627
  (1112, 2346)	0.26403490650249445
  (1112, 2118)	0.24195121595831026
  (1112, 1846)	0.23700778761850133
  (1112, 1310)	0.33699489680993866
  (1113, 7052)	0.5666861165019468
  (1113, 6021)	0.4688207354325702
  (1113, 5051)	0.3219571661238129
  (1113, 4565)	0.4619652723848445
  (1113, 2109)	0.3768363486771491
  (1114, 1696)	1.0

In [ ]:
#Converting y_train,y_test values as Integers

In [33]:
y_train_features=y_train.astype('int')

In [34]:

y_test_features=y_test.astype('int')

In [35]:

y_train_features

3075    1
2371    1
4278    0
644     1
1481    1
       ..
4068    1
4819    0
2517    1
3392    1
4092    1
Name: v1, Length: 4457, dtype: int32

In [36]:
y_test_features

673     1
4221    1
274     1
3794    1
1644    1
       ..
5561    1
2774    1
3852    1
5219    1
502     1
Name: v1, Length: 1115, dtype: int32

In [37]:
#Training the model

In [38]:

model=LogisticRegression()
model.fit(x_train_features,y_train_features)

LogisticRegression()

In [39]:
#In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.

In [40]:

pred1=model.predict(x_train_features)
print(accuracy_score(y_train_features,pred1)*100)

96.90374691496523

In [41]:


pred2=model.predict(x_test_features)
print(accuracy_score(y_test_features,pred2)*100)

96.41255605381166

In [42]:

input1=["Hurry Up! Only few left grab your choice"]

In [43]:


input_features=feature_extraction.transform(input1)
prediction=model.predict(input_features)

In [44]:

print(prediction)

[1]

In [45]:

if(prediction==1):
    print("HAM MAIL")
else:
    print("SPAM MAIL")

HAM MAIL